@import '~bootstrap/scss/bootstrap';

$background-color: #fff;
$font-color: #eee;
$white: #fff;
$black: #000;

body {
  background-color: $background-color;
}

.box {
  align-items: center;
  background-color: $white;
  border: 1px solid $black;
  color: $font-color;
  display: flex;
  height: 80px;
  justify-content: center;
}
