@import '~bootstrap/scss/bootstrap';

$background-color: #fff;
$font-color: #000;
$white: #fff;
$black: #000;

h1 {
  font-family: 'Monoton', cursive;
  text-align: center;
}

h6, span {
  font-family: 'Pattaya', cursive;
  margin-top: 4px;
}

input[type='text'] {
  font-family: 'Pattaya', cursive;
}

input[type='password'] {
  font-family: 'Pattaya', cursive;
  margin-bottom: 4px;
}

input[type='submit'] {
  font-family: 'Monoton', cursive;
}
input[type='button'] {
  font-family: 'Monoton', cursive;
  margin-bottom: 4px;
}
span {
  font-family: 'Pattaya', cursive;
}
body {
  background-color: $background-color;
}
.box {
  align-items: center;
  background-color: $white;
  border: 1px solid $black;
  color: $font-color;
  font-size: 24px;
  font-family: 'Monoton', cursive;
  display: flex;
  height: 80px;
  justify-content: center;
}
#c0 {
  border-top-style: none;
  border-left-style: none;
}
#c1 {
  border-top-style: none;
}
#c2 {
  border-top-style: none;
  border-right-style: none;
}
#c3 {
  border-left-style: none;
}
#c5 {
  border-right-style: none;
}
#c6 {
  border-left-style: none;
  border-bottom-style: none;
}
#c7 {
  border-bottom-style: none;
}
#c8 {
  border-bottom-style: none;
  border-right-style: none;
}
